@import url("./reset.css");

/* 🌎 Estilos padrão (Mobile First) */

:root {
  --mobile-width: 800px;
}
header {
  position: relative;
  background-color: #c81d25;
  height: 109px;
}
/* header-container start */
.header-container {
  display: flex;
  padding: 35px;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 1.5rem;
}
/* header-container end */

/* start header-menu */
.header-menu {
  display: flex;
}
/* end header-menu */

/* start menu */
.menu {
  top: 100%;
  right: 0;
  min-width: fit-content;
  transition: max-height 0.3s ease-in-out;
  z-index: 100;
  background: #c81d25;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  text-align: center;
}

@media (max-width: 428px) {
  .menu {
    position: absolute;
    width: 150px;
    max-height: 0;
    overflow: hidden;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .header-menu:has(#menu-toggle:checked) .menu {
    max-height: 500px;
  }
}
/* end menu */

/* start menu-hamburger */
.menu-hamburger {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

@media (max-width: 428px) {
  .menu-hamburger {
    display: flex;
  }
}

.menu-hamburger > input {
  position: absolute;
  display: none;
  z-index: 0;
}

.menu-hamburger > input:checked ~ span {
  transform: rotate(45deg);
}

.menu-hamburger > input:checked ~ span::before,
.menu-hamburger > input:checked ~ span::after {
  top: 0;
  transform: rotate(-90deg);
}

.menu-hamburger span {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 1;
}

.menu-hamburger span::before,
.menu-hamburger span::after {
  position: absolute;
  top: -10px;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  display: block;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.menu-hamburger span::after {
  top: 10px;
}
/* end menu-hamburger */

#foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.foto {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.perfil {
  height: 584px;
  background-color: #fae3d9;
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

.about-me {
  font-size: 1rem;
  padding: 20px;
  font-weight: bold;
}

.lists {
  height: 890px;
  background-color: #e57373;
}

ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 102px;
  height: 150px;
  background-color: #dfdfdf;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.feedback {
  background-color: #e57373;
  height: 300px;
}

.feed-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.feed-form p {
  background-color: #c81d25;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.feedback-block {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-enviar {
  background-color: #c81d25;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
}

.btn-contato {
  background-color: #d7545b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  width: 150px;
}

.input-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #c81d25;
  height: 127px;
  padding: 10px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.redes-sociais a img {
  width: 30px;
}

/* 📌 Estilos para telas maiores (Tablets e Desktops) */
@media (min-width: 768px) {
  .header-container h1 {
    font-size: 2rem;
  }

  .perfil {
    height: 650px;
  }

  .lists {
    height: auto;
    display: flex;
    justify-content: center;
  }

  ul {
    justify-content: center;
  }

  .card {
    width: 120px;
    height: 180px;
  }

  .feedback {
    height: 350px;
  }
}

@media (min-width: 1440px) {
  body {
    height: 1152px;
  }

  header {
    height: 109px;
  }

  .container {
    padding: 50px;
  }

  .perfil {
    height: 700px;
    display: flex;
    justify-content: center;
    padding: 35.5px 227px;
    height: 318px;
  }

  .subtitulo {
    font-size: 2rem;
  }

  .about-me {
    font-size: 1.2rem;
  }

  .card {
    width: 102px;
    height: 150px;
  }

  .feedback {
    height: 400px;
  }

  .btn-enviar,
  .btn-contato {
    width: 200px;
    padding: 15px;
    cursor: pointer;
  }

  .lists {
    display: flex;
    height: 366px;
  }

  .feedback-block {
    width: 1128px;
  }

  .text-feedback {
    align-items: center;
    justify-content: center;
    padding-left: 100px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 96.5px;
  }

  .btn-contato {
    background-color: #d7545b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    transition: background-color 0.3s; /* Adiciona uma transição suave */
  }

  .btn-contato:hover {
    background-color: green;
  }

  .input-feedback {
    display: flex;
    justify-content: end;
    padding-right: 120px;
  }
}
